.footer {
            ul.footer-list li a{
            @apply flex
        }
    .foot-subscribe {

        input{
            &::placeholder{
                @apply text-gray-200;
            }
        }
    } 
    .form-input {
        height: 2.5rem;
        width: 100%;
        border-radius: 0.25rem;
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}